{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-black mb-3 animated slideInDown">Cadastre Portal</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Cadastre</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded-pill py-1 px-4">Appointment</p>
                <h1 class="mb-4">You need to go to mining cadastre portal</h1>
                <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Django in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://portal.madini.go.tz/Site/Login.aspx?PageID=d7b17301-a708-4574-bbcd-0e357550db18s">Download Now</a>.</p>
                <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Call Us Now</p>
                        <h5 class="mb-0">+255694 021 848</h5>
                    </div>
                </div>
                <div class="bg-light rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Mail Us Now</p>
                        <h5 class="mb-0">info@mining.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                            </div>
                            <div class="col-12">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="col-12">
                                {{ form.mobile.label_tag }}
                                {{ form.mobile }}
                            </div>
                            <div class="col-12">
                                {{ form.category.label_tag }}
                                {{ form.category }}
                            </div>
                            <div class="col-12">
                                {{ form.date.label_tag }}
                                {{ form.date }}
                            </div>
                            <div class="col-12">
                                {{ form.time.label_tag }}
                                {{ form.time }}
                            </div>
                            <div class="col-12">
                                {{ form.description.label_tag }}
                                {{ form.description }}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->

{% endblock %}
